<html lang="en">
  <head>
    <meta charset="UTF-8" />
    
    <title>About</title>
    <link rel="icon" href="/img/node-icon.png">
    <link rel="stylesheet" href="css/style.css" />
   
  </head>
  <body>
    <div class="main-content">
     {{>header}}

      <img src="/img/prog.jpg" class="prog-img" />
    </div>
     
    {{>footer}}
  </body>
</html>