<html lang="en">
  <head>
    <meta charset="UTF-8" />
    
    <title>About</title>
    <link rel="icon" href="/img/node-icon.png">
    <link rel="stylesheet" href="css/style.css" />
   
  </head>
  <body>
    <div class="main-content">
     {{>header}}

      <p class="p">This site was created by Sayed abdo</p>
    </div>
     
    {{>footer}}
  </body>
</html>